.cache/
.git/
.pytest_cache/
.ruff_cache/
build/
dist/
physical/pdk/IHP-Open-PDK/
physical/pdk/gf180mcu-pdk/
physical/pdk/icsprout55-pdk/
physical/pdk/skywater-pdk/
rtl/managed/clusterip/
rtl/managed/hazard3/
rtl/managed/mpw/
rtl/managed/third_party/
