*.log
*.hex
*.elf
*.bin
*.vvp
*.vcd
*.lib
*.report
*.ddb
*.fst
*.txt
*.gtkw
*.vmf
*.tar.bz2
*.tbsim
*.fsdb
*.conf
*.rc
*.aig
.vscode
pic
video.h
.sw_build
.build
.net_build
.post_build
.syn_build
.metals
retrosoc_sections.lds
retrosoc_syn*
pdk
dont_use_cell_*
clusterip
nanoV
tinyQV
kianV