*.log
*.hex
*.elf
*.bin
*.vvp
*.vcd
*.lib
*.fst
*.txt
*.gtkw
*.vmf
*.tar.bz2
*.tbsim
*.fsdb
*.conf
*.rc
verdiLog
*.daidir
ucli.*
verdi_config_file
csrc
*simv*
retrosoc_sections.lds
retrosoc_syn*
IHP-Open-PDK
S110
AXI4Lite_To_APB_Bridge
