name: test

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Download and extract RISC-V toolchain
      run: |
        wget https://github.com/riscv-collab/riscv-gnu-toolchain/releases/download/2021.09.21/riscv32-elf-ubuntu-20.04-nightly-2021.09.21-nightly.tar.gz
        tar -xzf riscv32-elf-ubuntu-20.04-nightly-2021.09.21-nightly.tar.gz -C /tmp
        toolchain_bin="/tmp/riscv32-elf-ubuntu-20.04-nightly-2021.09.21-nightly/bin"
        echo "RISCV_TOOLCHAIN_BIN=$toolchain_bin" >> $GITHUB_ENV
        echo "$toolchain_bin" >> $GITHUB_PATH

    - name: Use the toolchain in a subsequent step
      run: |
        echo "The toolchain path is $RISCV_TOOLCHAIN_BIN"
        riscv32-unknown-elf-gcc --version

    - name: Setup Environment
      run: python3 setup.py

    - name: Compile Firmware
      run: make CORE=MDD IP=MDD SIMU=VERILATOR HAVE_SRAM_IF=NO HAVE_SRAM_MACRO=NO HAVE_PLL=NO ISA=RV32IM EXEC_TYPE=ld2_psram firmware

    - name: Build and Run sim
      run: make CORE=MDD IP=MDD SIMU=VERILATOR HAVE_SRAM_IF=NO HAVE_SRAM_MACRO=NO HAVE_PLL=NO ISA=RV32IM EXEC_TYPE=ld2_psram sim

    - name: Success Notification
      run: echo "Workflow completed successfully"

# jobs:
#   lint-tgt:
#     name: SystemVerilog Lint
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v3
#       - uses: chipsalliance/verible-linter-action@main
#         with:
#           paths: |
#             ./rtl
#           # extra_args: "--waiver_files lint/common_cells.style.waiver --rules=-interface-name-style --lint_fatal"
#           # github_token: ${{ secrets.GITHUB_TOKEN }}
#           # reviewdog_reporter: github-check
