name: test

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup Environment
      run: python3 setup.py

    - name: Compile Firmware
      run: make CORE=MDD IP=MDD SIMU=VERILATOR HAVE_SRAM_IF=NO HAVE_SRAM_MACRO=NO HAVE_PLL=NO ISA=RV32IM EXEC_TYPE=ld2_psram firmware

    - name: Build and Run sim
      run: make CORE=MDD IP=MDD SIMU=VERILATOR HAVE_SRAM_IF=NO HAVE_SRAM_MACRO=NO HAVE_PLL=NO ISA=RV32IM EXEC_TYPE=ld2_psram sim

    - name: Success Notification
      run: echo "Workflow completed successfully"

# jobs:
#   lint-tgt:
#     name: SystemVerilog Lint
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v3
#       - uses: chipsalliance/verible-linter-action@main
#         with:
#           paths: |
#             ./rtl
#           # extra_args: "--waiver_files lint/common_cells.style.waiver --rules=-interface-name-style --lint_fatal"
#           # github_token: ${{ secrets.GITHUB_TOKEN }}
#           # reviewdog_reporter: github-check
